@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgb(145,141,141);
    background: radial-gradient(circle, rgba(145,141,141,1) 8%, rgba(82,82,82,1) 70%);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.ticTac{
    width: 44rem;
    height: 44rem;
    background: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    border: 0.3rem solid rgb(27, 27, 27);
    box-shadow: 2rem 2rem 2rem 1rem rgba(0, 0, 0, 0.5);
}

.row {
    justify-content: center;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid black;
    color: white;
     font-size: 6rem;
}

.win_message {
    font-size: 6rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 1rem 1rem 2rem black;
}